/* general reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: azure;
    font-family: 'Poppins';
    font-size: 0.8em;
}
ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}
.italic{
    font-style: italic;
    color: blue;
}
.link-font{
    color: blue;
}
.link-green{
    color: green;
}
.link-font:hover{
    text-decoration: underline;
}
.table-link-font{
    color: blue;
    font-weight: bold;
}
.table-link-font:hover{
    text-decoration: underline;
}
.para{
    padding: 5px;
    text-align: justify;
}
.leftbar-title{
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid grey;
}
/*
.line{
    height: 1px;
    width: 130px;
    background-color: grey;
    margin-left: 20px;
    margin-bottom: 2px;
}
*/
.superscript-blue{
    color: blue;
}
.web-kit{
    background-color: rgb(212, 209, 209);
    border: 1px solid gray;
}
.highlight{
    font-weight: bold;
    padding: 10px 0px;
}
  

.container{
    border-left: 1px solid blue;
    
}
.content{
    display: flex;
 
}
.content .left-sidebar{
    width: 13%;
    
    /* border-right: 1px solid skyblue; */
    margin-right: 10px;
}
.content .left-sidebar ul li{
    margin-top: 4px;
}
.content .left-sidebar ul li a{
    padding: 5px 15px;
    color: #0645AD;;
}
.content .left-sidebar ul li a:hover{
    color: #0645AD;
    text-decoration: underline;
}
.content .left-sidebar ul li p{
    color: grey;
    padding: 5px 25px;
}
.content .menu{
    height: 30px;
    width: 85%;
    display: flex;
    flex-direction: column;
    
}
.content .menu .ul{
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}
.content .menu .ul li{
    display: inline-flex;
    flex-direction: row;
}
.content .menu .ul li a{
    text-decoration: none; 
 }
.content .menu .ul li a:hover{
   text-decoration: underline;
    
}

.align-menu .ul li{
    padding: 0px 10px;
}
.articel-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid blue;
    border-left: none;
    border-right: none;
    border-top: none;
}
.articel-menu .left ul li{
    display: inline-flex;
    padding: 0px 5px;
    border-right: 1px solid blue;
}
.articel-menu .right ul li{
    display: inline-flex;
    padding: 0px 5px;
    border-right: 1px solid blue;
}
.articel-menu .right ul li input[type="text"]{
    width: 200px;
    text-align: center;
}


.title h1{
    font-size: 3em;
    font-weight: normal;
}
.tilte-description{
    padding: 10px;
}
.tilte-description li{
    list-style-type: none;
    padding-left: 30px;
    
}
/*----middle content----*/
.middle-content{
    display: flex;
    justify-content: space-between;
}
.middle-left{
    width: 69%;
}
.middle-left li{
    
}

/*---main content---*/
.main-content{
    margin: 20px 10px;
    border: 2px solid #CCCCFF;
   
    width: 200px;
}
.main-content li{
    padding: 5px 0px;
    padding-left: 10px;
}
.main-content ul li a{
    color: #0645AD;
}
.num{
    color: black;
}
.main-content li a .tab-space{
    padding-left: 15px;  
}
.main-content li a:hover{
    text-decoration: underline;
}
/*----middle right----*/
.middle-right{
    width: 30%;
    height: 850px;
    margin-right: 5px;
}

.middle-right h3{
    font-size: 1em;
    text-align: center;
}
.table-css{
    
    border: 1px solid grey;
}
.table-css img{
    height: 180px;
    margin-left: 80px;
    padding-top: 3px;
}
.table-features{
    margin: 15px 0px;
    border: 1px solid grey;
    width: 100%;
}
.table-features li{
    list-style-type: none;
}
.table-features li p{
    color: blue;
    margin: 3px;
    text-align: center;
}
.table-features .caption{
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
    background-color: #CCCCFF;
    color: blue;
    padding: 3px;
    text-align: center;
}
.table-features .heading{
    text-align: center;
    background-color: #CCCCFF;
    color: black;
    padding: 4px;    
}
.table-html{
    margin-top: 10px;
    border: 1px solid grey;
}
.table-html li{
    list-style-type: none;
}
.table-html li p{
    text-align: center;
}


.description,.middle-content,.title,.articel-menu{
    border-left: 1px solid skyblue;
    padding-left: 10px;
}



@media only screen and (max-width: 992px) {

    
    .middle-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .table-css,.table-features,.table-html{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .middle-left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .middle-right{
       width: 300px;
       margin-bottom: 20px;
   } 

   .accordion {
    background-color: azure;
    cursor: pointer;
    padding: 10px 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: white; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .accordion:after {
    content: "v";
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
   
  }
  
  .active:after {
    content: "^";
  }


}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 600px) {
   html,body{
    padding: 2px 1px;
   }
    .left-sidebar{
        display: none;
    }
    .description,.middle-content,.title,.articel-menu{
        border: none;
    }
    .middle-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .align-menu,.articel-menu{
       display: none;
    }
}